/*--------------------------------------------------------------
# 404 Not Found
--------------------------------------------------------------*/

fieldset {
  max-width: 260px;
  width: 100%;
}

div.hero-404 {  // Hero image
  background-image: url('../../assets/images/jay-toor-105107.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vw;
  width: 100%; 
  min-height: 800px;
  max-height: 981px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

section.error-404.not-found { // White background with opacity.  Text contained in here.
  display:flex;
  flex-direction: column;
  justify-content: center;
  max-height: 633px;	
  max-width: 1018px;	
  min-height: 800px;
  text-align: center;
  background-color: $color__textbox-background;
  opacity: 0.75;
    h1.page-title {
      padding-top: 2rem;
      font-size: 4rem;
      margin: 20px 20px 10px 20px;
      color: #000000;
    } 
    p {
      margin: 10px 30px 20px 30px;
      font-size: 2rem;
      font-family: $font__accent;
      color: #000000;
    }
}

// .home-button {  // Home button linked to home_url with a hover border change
//   height: 80px;	
//   width: 250px;	
//   border-radius: 2px 100px 2px 100px;	
//   font-size: 36px;	
//   font-weight: bold;	
//   letter-spacing: 2px;	
//   line-height: 28px;	
//   text-align: center;
//   font-family: $font__main;  
//   background-color: $color__icon-element;	
//   color: $color__text-white;
//   &:hover {
//     border-radius: 100px 2px 100px 2px;	
//     background-color: #bf1328;
//     box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.5);
//   }
// }

div.return-home {  // Button container
  display: flex;
  justify-content: center;
  padding: 2rem 0 3rem 0;
  a {
      // Home button linked to home_url with a hover border change
      height: 80px;	
      width: 250px;	
      border-radius: 0px 65px 0px 65px;	
      font-size: 36px;	
      font-weight: bold;	
      letter-spacing: 2px;	
      line-height: 28px;	
      text-align: center;
      padding-top: 20px;
      font-family: $font__main;  
      background-color: $color__icon-element;	
      color: $color__text-white;
      &:hover {
        border-radius: 65px 0px 65px 0px;	
        background-color: #bf1328;
        box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.5);
      }
    }
}





