.page-template-about {

// Hero
  .hero-wrapper {
    padding-top: 65px;
    h1 {
      text-align: center;
      color: $color__footer-background;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 900;
      position: relative;
      top: 50px;
    }
    .hero-image {
    height: 139px;
    width: 100vw;
    background-image: url("../../assets/images/blog@3x.png");
    background-size: 100% 100%;
    }
    .underline {
      margin: 0 auto;
      width: 49px;
      text-align: center;
      border-bottom: 3px solid $color__accent-underline;
      position: relative;
      bottom: 24px;
   }
  }

// Mission
  .mission-wrapper {
    h2 {
      font-size: 24px;
      text-align: center;
      color: $color__footer-background;
      font-weight: 900;
      position: relative;
      top: 20px;
    }
    .underline {
      margin: 0 auto;
      width: 49px;
      text-align: center;
      border-bottom: 3px solid $color__accent-underline;
      position: relative;
      top: 14px;
   }
   p {
     font-size: 14px;
     line-height:26px;
     width: 80%;
     margin: 0 auto;
     margin-bottom: 40px;
     text-align: center;
     padding-top: 40px;
     font-weight: 200;
     color: $color__footer-background;
   }
  }


// About help
  .about-help {
    height: 70px;
    background-color: $color__textbox-background;
    h2 {
      font-size: 24px;
      text-align: center;
      color: $color__text-main;
      font-weight: 900;
      position: relative;
      top: 20px;
    }
    .underline {
      margin: 0 auto;
      width: 49px;
      text-align: center;
      border-bottom: 3px solid $color__accent-underline;
      position: relative;
      bottom: 20px;
    }
  }
// Content wrappers / images

  img.about-img {
    height: 160px;
    max-width: 160px;
    border-radius: 100px;
    margin: 14px 14px 30px 14px;
  }
    .about-left {
        height: 264px;
        background-color: $color__textbox-background;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 400px;
        padding-top: 40px;
        .about-titles {
          font-size: 21px;
          font-weight: bold;
          text-align: right;
        }
      img {
        width: 48%;
      }
      p {
        font-size: 14px;
        width: 48%;
        text-align: right;
        padding-right: 14px;
        line-height: 16pt;
        color: $color__footer-background;
      }
  }
    .about-right {
      height: 264px;
      background-color: $color__background-white;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 400px;
      padding-top: 40px;
        .about-titles {
          font-size: 21px;
          font-weight: bold;
          text-align: left;
        }
      img {
        width: 200px;
      }
      p {
        color:$color__footer-background;
        width: 200px;
        line-height: 16pt;
        text-align: left;
        font-size: 14px;
        padding-left: 14px;
      }
    }

// Consultants
  .about-consultants {
    height: 500px;
    background-color: $color__background-white;
    display: block;
    text-align: center;
    p {
      font-size: 14px;
      font-weight: 100;
      color: $color__text-quoteform;
      line-height: 16pt;
    }
      img {
        margin: 0 auto;
        height: 204px;
        width: 204px;
        margin: 30px 0 0 0;
        border-radius: 100px;
      }
  i {
    display: inline-block;
    font-size: 36px;
    margin: 10px;
  }
    h2 {
      font-size: 24px;
      text-align: center;
      color: $color__text-main;
      font-weight: 900;
      position: relative;
      top: 20px;
    }
    h3 {
      font-size: 20px;
      text-align: center;
      color: $color__text-main;
      font-weight: normal;
      position: relative;
      top: 14px;
    }
  .underline {
    margin: 0 auto;
    width: 49px;
    text-align: center;
    border-bottom: 3px solid $color__accent-underline;
    position: relative;
    bottom: 20px;
  }
  }
// Journey
 .about-journey {
  height: 195px;
    background-color: $color__textbox-background;
    h2 {
      font-size: 24px;
      text-align: center;
      color: $color__footer-background;
      font-weight: 900;
      position: relative;
      top: 20px;
      text-transform: uppercase;
      letter-spacing: 1pt;
    }
    p {
      font-size: 14px;
      color: $color__text-accent;
      font-style: italic;
      font-weight: 200;
      position: relative;
      text-transform: none;
      bottom: 42px;
      
    }
    .underline {
      margin: 0 auto;
      width: 49px;
      text-align: center;
      border-bottom: 3px solid $color__accent-underline;
      position: relative;
      bottom: 48px;
    }
 }
  button.consult {
    letter-spacing: 1pt;
    width: 175px;
    height: 40px;
    padding: 0;
    border-radius: 25px 0px 25px 0px;
    box-shadow: none;
    text-shadow: none;
    font-size: 18px;
    background: $color__icon-element;
    color: white;
    position: relative;
    bottom: 40px;
  }
 }

