.page-template-consult {
  .entry-title {
    display: none;
  }
  .wpcf7-validation-errors {
    border: none;
    padding: 24px;
    color: white;
    font-size: 16px;
    background: $color__icon-element;
  }
  .wpcf7-mail-sent-ok {
    border: none;
    padding: 24px;
    background: $color__border-hamnav;
    color: white;
    font-size: 16px;
  }
  .underline1 {
    width: 69px;
    position: relative;
    bottom: 34px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 3px solid $color__accent-underline;
  }
  .consult-wrapper {
    height: 1000px;
    margin: 0 auto;
    // margin-bottom: 24px; 
    margin-top: 60px;
    padding: 24px;
    text-align: center;
    background-color: $color__quoteform-background;  
      h2 {
        font-size: 46px;
      }
  }
  .consult-form {
    display: inline-block;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
    @media #{$tablet} {
      width: 80%;
    }
    input {
      display: inline-block;
      height: 44px;
      width: 90%;
    }
      input:hover {
        background-color: rgb(206, 206, 206);
      }
     
    .wpcf7-submit {
      width: 175px;
      height: 40px;
      padding: 0;
      position: relative;
      top: 50px;
      border-radius: 25px 0px 25px 0px;
      box-shadow: none;
      text-shadow: none;
      font-size: 18px;
      background: $color__icon-element;
      color: $color__text-white;
      border: none;
      letter-spacing: 1pt; 
    }
    .wpcf7-response-output {
      background-color: lightgreen;
      font-size: 18px;
      position: relative;
      top: 24px;
    }
    .wpcf7-validation-errors {
      background-color: red;
    }
    .wpcf7-form {
      height: 600px;
    }
    .content-column {
      height: 300px;
    }
  }
}