.page-template-contact {

  h1.entry-title {
    display: none;
  }
  .desktop-contact-display {
     display: none;
      @media #{$tablet-test} {
        display: block;
        height: 595px;
        width:435px;
        padding: 38px;
        position: relative;
        bottom: 720px;
        left: 90%;
        font-family: $font__accent;
        font-size: 18px;   
        background-color: $color__info-main;    
        color: $color__footer-navbkgrnd;
          h2 {
            font-size: 42px;
          }
          i {
            color:$color__icon-element;
            font-size: 31px;
            margin-right: 20px;
             margin-bottom: 44px;
          }
          .contact-address {
            display: inline-block;
            width: 300px; 
            margin-left: 14px;
          }  
          .contact-hours {
            display: inline-block;
            width: 300px;    
          }
      }
  }
  .contact-form {
    padding-top: 24px;
    background-color: $color__textbox-background;
      @media #{$tablet-test} {
        width: 70vw;
        height: 1000px;
        margin-left: 70px;
        margin-top: 64px;
      }
      .wpcf7-form {
        @media #{$tablet-test} {
          position: relative;
          right: 25%;
          bottom:12px;
        }
      }
    .wpcf7-form-control {
      height: 44px;
    }
    .wpcf7-textarea {
      height: 300px;
    }
    .wpcf7-submit {
      letter-spacing: 1pt;
      width: 175px;
      height: 40px;
      padding: 0;
      margin-left: 25%;
      margin-bottom: 20px;
      border-radius: 25px 0px 25px 0px;
      box-shadow: none;
      text-shadow: none;
      font-size: 18px;
      background: $color__icon-element;
      color: $color__text-white;   
    }
    h2.title {
      margin-top: 0;
      text-align: center;
      color: $color__footer-background;
      font-size: 24px;
      font-weight: bold;
      @media #{$tablet-test} {
        width: 300px;
        margin-left: 20%;
        font-size: 50px;
        text-align: left;
      }
    }
    .contact-content {
      margin: 0 auto;
      max-width: 345px;  
      color: $color__contact-input; 
    }
    .underline {
      margin: 0 auto;
      width: 49px;
      text-align: center;
      border-bottom: 3px solid $color__accent-underline;
      position: relative;
      bottom: 20px;
      @media #{$tablet-test} {
        right: 20%;
        bottom: 34px;
        width: 109px;
      }
    }
}
// Hero 
  .hero-wrapper {
    padding-top: 65px;
    h1 {
      position: relative;
      top: 46px;
      text-align: center;
      color: $color__footer-background;
      font-size: 48px;
      text-transform: uppercase;
      font-weight: 900;  
    }
    .hero-image {
      height: 239px;
      width: 100vw;
      background-image: url("../../assets/images/blog_3@3x.png");
      background-size: 100% 100%;
    }
    .underline {
      margin: 0 auto;
      width: 49px;
      text-align: center;
      border-bottom: 3px solid $color__accent-underline;
      position: relative;
      bottom: 20px;
    }
  }
  .contact-journey {
    height: 195px;
    background-color: $color__textbox-background;
    h2 {
      position: relative;
      top: 20px;
      font-size: 24px;
      text-align: center;
      color:$color__footer-background;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1pt;
    }
    p {
      position: relative;
      bottom: 42px;
      text-transform: none;
      font-size: 14px;
      color: $color__text-accent;
      font-style: italic;
      font-weight: 200;  
    }
    .underline {
      margin: 0 auto;
      width: 49px;
      position: relative;
      bottom: 48px;
      text-align: center;
      border-bottom: 3px solid $color__accent-underline;
    }
  }
  button.consult {  
    width: 175px;
    height: 40px;
    position: relative;
    bottom: 40px;
    padding: 0;
    border-radius: 25px 0px 25px 0px;
    box-shadow: none;
    text-shadow: none;
    font-size: 18px;
    background: $color__icon-element;
    color: $color__text-white;  
    letter-spacing: 1pt;
  }
}

