.page-template-consult {

  .consult-wrapper {
    width: 80vw;
    height: 900px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 24px;
    text-align: center;
    background-color: $color__quoteform-background;   
    h2 {
      font-size: 46px;
    }
}
  .consult-form {
    display: inline-block;
    width: 60%;
    margin: 0 auto;
    input {
      display: inline-block;
      height: 44px;
      width: 20vw;
    } 
    textarea {
      width: 50vw;
    }
  }
}