//Top Banner
div.banner-faq-single {
  padding-top: 65px;
  margin-bottom: 24px;
  h1 {
    text-align: center;
    color:$color__footer-background;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    top: 50px;
  }
  .banner-image-faq-single{
  height: 139px;
  width: 100vw;
  background-image: url("../../assets/images/living@2x.png");
  background-size: 100% 100%;
  }
  .underline {
    margin: 0 auto;
    width: 49px;
    text-align: center;
    border-bottom: 3px solid $color__accent-underline;
    position: relative;
    bottom: 24px;
  }
}
.nexus_faq-template-default {
  .site-main {
    .thumb {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      width: 325px;
      height: 211.9px;
    }
  }
}
.nexus_faq-template-default {
  .faq-homestay {
    height: 55px;
    width: 92vw;
    background-color: $color__textbox-background;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 10px;
    .faq-meta-title {
      margin: 3.6vw;
      font-weight: 600;
    }
    .homestay-button {
      height: 55px;
      width: 55px;
      background-color: $color__icon-element;
    }
  }
  .faq-meta-text {
    margin-left: 6.66vw;
    margin-right: 6.66vw;
    width: 92vw;
  }

  .faq-dropdown {
    display: none;
  }
  .visible {
    display: block;
  }
}
//Keep Looking
.faq-single-homestay {
  h2 {
    font-size: 24px;
    text-align: center;
    color:$color__footer-background;
    position: relative;
    top: 10px;
  }
  .underline {
    margin: 0 auto;
    width: 49px;
    text-align: center;
    border-bottom: 3px solid $color__accent-underline;
    position: relative;
    bottom: 48px;
  }
  .homestay-button-wrapper {
    width: 375px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    bottom: 20px;
  .homestay-looking-button {
    border-radius: 8px;
    width: 165px;
    height: 47px;
    background-color: $color__icon-element;
    margin: 10px;
    font-size: 18px;
    color: white;
    text-shadow: none;
  }
}
// Journey
.faq-single-journey {
  height: 195px;
  background-color:$color__textbox-background;
  h2 {
    font-size: 24px;
    text-align: center;
    color:$color__footer-background;
    font-weight: 900;
    position: relative;
    top: 20px;
    text-transform: uppercase;
    letter-spacing: 1pt;
  }
  p {
    font-size: 14px;
    color: red;
    font-style: italic;
    font-weight: 200;
    position: relative;
    text-transform: none;
    bottom: 42px;
  }
  .underline {
    margin: 0 auto;
    width: 49px;
    text-align: center;
    border-bottom: 3px solid $color__accent-underline;
    position: relative;
    bottom: 48px;
  }
  button.consult {
    letter-spacing: 1pt;
    width: 165px;
    height: 40px;
    padding: 0;
    border-radius: 25px 0px 25px 0px;
    box-shadow: none;
    text-shadow: none;
    font-size: 18px;
    background: $color__icon-element;
    color: white;
    position: relative;
    bottom: 40px;
  }
  }
}