/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

div#secondary.widget-area {
  background-color: rgba(21,64,90,1);
}

div.footer__contact p a,
div.footer__site-info a,
div.footer__desktop--nav li a {
  text-decoration: none;
} 

div.footer__site-info.hidden {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 551px;
}

div.footer_hidden_anchor {
  display: flex;
  flex: 1 0 auto;
  padding-left: 3rem;
}

// div.footer_hidden--container {
//   display: flex;
//   flex-direction: row;
// }

// .hidden {
//   display: flex;
//   flex-direction: column;
// }

div.footer__desktop--nav {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;
  padding-right: 3rem;
  ul.footer_desktop--nav--ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
 
.footer--nav--li {
  padding-left: 1rem;
}

@media screen and (max-width: 550px){
  div.footer__site-info.hidden {
    display: none;
  }
  ::before {
    display: show;
  }
}

@media screen and (min-width: 551px){
  div.footer__site-info.hidden {
    display: show;
  }
  ::before {
    display: none;
  }
}

div.footer__social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.textwidget {
  align-items: center;
  text-align: center;
}
h2.widget-title,
.footer__contact h2 {
  text-align: center;
}

.footer__contact,
.footer__office {
 
  display:  flex;
  flex-direction: column;
  // justify-content: center;
  margin: auto;
  p {
    text-align: left;
  }
}

.footer__contact--box {
  display: flex;
  flex-direction: row;
}

div.footer__social-media-container p {
  height: 50%;
  width: 50%;
  padding: 0 1rem 0 1rem;
}

footer#colophon.site-footer {
  background-color: #122E3F;
}

footer#colophon.site-footer,
div#secondary.widget-area,
div.footer__contact p a,
.hidden a {
  color: $color__background-hr;
  font-family: $font__main
}

aside#text-2.widget.widget_text {
  height: 491px;
}
h2.widget-title {
  padding-top: 43px;
}

div.widget_info_contain {
  display: flex;
  flex-direction: row;
}

div.widget_fa {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

div.widget_info_contain p,
p.footer__office--hours {
  max-width: 197px;
}