/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

div.footer__contact p a,
div.footer__site-info a,
div.footer__desktop--nav li a {
  text-decoration: none;
} 

footer#colophon.site-footer a {
  text-decoration: none;
}



div.footer__site-info.hidden {
  display: flex;
  flex-direction: row;
  
}

div.footer_hidden_anchor {
  display: flex;

}

@media screen and (max-width: 550px){
  div.footer__site-info.hidden {
    display: none;
  }
  ::before {
    display: show;
  }
}

@media screen and (min-width: 551px){
  div.footer__site-info.hidden {
    display: show;
  }
  ::before {
    display: none;
  }
}

div.footer_hidden--container {
  display: flex;
  flex-direction: spa
}

.hidden {
  display: flex;
  flex-direction: column;
}

div.footer__desktop--nav {
  display: flex;
  justify-content: flex-end;
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
}
 