.home {
  min-width: 375px;
  margin-top: -15px;

  article {
    display: none;
  }

  h2 {
    margin:0;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
  }

  .underline { 
    width: 49px;
    border-bottom: 3px solid $color__accent-underline;
    @media #{$desktop} {
      width: 120px;
    }
  } 

  .site-main {
    .full-page-wrapper {
      max-width: 100vw;
    .banner {
      padding-top: 4.5rem;
      width: 100%;
      height: 16rem;
      background: url(../../assets/images/photo-hero-mobile.png);
      background-repeat: no-repeat;
      background-size: 97vw;
      @media #{$desktop} {
        height: 100vh;
        min-width: 00px;
        background-size: 100% 100%;
        background-image: url('../../assets/images/home-hero-desktop.png');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__info {
        width: 40%;
        margin-left: 2rem;
        line-height: 2rem;
        @media #{$desktop} {
          margin: 0;  
        }
      }

      &__info__h1 {
        margin: 1vw 0 0 0;
        font-size: 11vw;
        font-family: $font__main;
        font-weight: 900;
        text-transform: uppercase;
        color: $color__text-main;
        @media #{$desktop} {
          font-size: 86px;
          letter-spacing: 10px;
          font-weight: bold;
          margin-bottom: 14px;
          text-align: center;
          color: $color__footer-background;
        }
      }

      &__info__p {
        margin: 0;
        font-size: 16px;
        font-family: $font__accent;
        font-weight: 600;
        font-style: italic;
        color: $color__text-accent;
        text-transform: none;
        text-align: center;
        line-height: 18px;
        @media #{$desktop} {
          margin-bottom: 2vw;  
          font-size: 46px;
          
        }
      }

      &__p {
        width: 52%;
        margin-left: 2rem;
        font-family: $font__accent;
        font-size: 4vw;  
        font-style: italic;
        font-weight: 600;
        color: $color__text-main;
        text-align: center;
        @media #{$desktop} {
          margin-top: 2vw;
          font-size: 22px;
          width: 33%;
          color: $color__footer-background;
        }
      }

      &__p__span {
        font-weight: 800;
      }
    }


    .nexus-wrapper {
      width: 100%;
      @media #{$desktop} {
        width: 90%;
        margin: 0 0 0 auto;
      }
    }

    .why-nexus {
      margin-top: 100px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(180deg,rgba(255, 255, 255, 0.726) 0,rgba(255, 255, 255, 0.658)), url('../../assets/images/whynexus.png');
      background-position-y: top, bottom;
      background-position-x: left, left;
      background-repeat: no-repeat;
      background-size: 100% 75%, 100% 90%;
      color: $color__footer-background;
      @media #{$desktop} {
        justify-content: space-around;
        align-items: flex-start;
        background-position-y: center, center;
        background-repeat: no-repeat;
        background-position-x: left, right;
        background-size: 55% 50%,50% 80%;
      }

      h2 {
        width: 80%;
        margin: 0 auto;
        @media #{$desktop} {
          margin: 0;
          width: 65%;
          font-size: 3.5rem;
          position: relative;
          bottom: 100px;
        }
      }
      
      .headergroup {
        width: 100%;
        line-height: 3rem;
        margin: 0 auto;
      }

      &__header {
        font-family: $font__main; 
        @media #{$desktop} {
          text-align: left;    
        }
      }

      &__info {   
        width: 80%;
        margin: 10px auto 0 auto;
        @media #{$desktop} {
          font-size: 24px;
          font-weight: 100;
          width: 60%;
          position: relative;
          right: 10%;
         
          
        }
      }
      

      .underline {
        margin: 0 auto;
        @media #{$desktop} {
          width: 170px;
          font-family: $font__accent;
          position: relative;
          bottom: 80px;
          margin: 0;
          width: 120px;
        }
      }

      button {
        margin-top: 3rem;
        width: 185px;
        height: 50px;
        padding: 0;
        border-radius: 25px 0px 25px 0px;
        box-shadow: none;
        text-shadow: none;
        background: $color__icon-element;
        color: $color__text-white;
        font-family: $font__main;
        font-weight: 900;
        font-size: 22px;
        position: relative;
        letter-spacing: 2px;
        
      }

    }

    .front-choose-wrapper {
      display: none;
      @media #{$desktop} {
        display: flex;
        justify-content: flex-end;
        height: 100vh;
        background: url('../../assets/images/programs_nexus@3x.png');
        background-size: 80%;
        background-repeat: no-repeat;
      }

      .front-choose-program {
        @media #{$desktop} {
          flex-basis: 50%;
          display: flex;
          background: url('../../assets/images/ImageOverlay@3x.png');
          opacity: 0.85;
          padding-left: 88px;

        h2 {
          text-align: left;
          font-size: 58px;
          width: 400px;
          height: 100px;
          letter-spacing: 4px;
          margin-top: 200px;
          margin-bottom: 24px;
          line-height: 55px;
        }
      }


        .front-choose-program__info-wrapper {
          position: relative;
          left: 4vw;
          top: 3vw;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          width: 90%;
          margin: 0 auto;
        }
        &__info {
          font-size: 18px;
          margin-bottom: 78px;
        }
        button {
          width: 185px;
          height: 60px;
          padding: 0;
          border-radius: 25px 0px 25px 0px;
          box-shadow: none;
          text-shadow: none;
          background: $color__icon-element;
          color: $color__text-white;
          font-family: $font__main;
          font-weight: 900;
          font-size: 22px;
          letter-spacing: 2px;
        }
        }
      }

          h2 {
            text-align: left;
            font-size: 4vw;
          }

          button {
            width: 135px;
            height: 40px;
            padding: 0;
            border-radius: 25px 0px 25px 0px;
            box-shadow: none;
            text-shadow: none;
            background: darken($color__icon-element, 20%);
            color: $color__text-white;
            font-family: $font__main;
            font-weight: 900;
            font-size: 18px;
          }  
        }
      
    }


    .browse-programs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      @media #{$desktop} {
        display: none;
      }

      .underline {
        margin: 0 auto; 
        width: 70px;
      }

      &__subheading {
        width: 80%;
        text-transform: uppercase;
        margin: 0.5rem auto;
        display: flex;
        background: $color__textbox-background;
      }
    }



    .student-review {
      .headergroup {
        line-height: 3rem;
      }

      h2 {
        font-size: 4vw;
      }

      .underline {
        margin: 0 auto 3rem auto;
        @media #{$desktop} {
          width: 120px;
        }
      }

      .owl-nav {
        display: none;
      }

      .owl-dots {
        margin: 3rem auto;
      }
    }

    .student-review__box {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      @media #{$desktop} {
        flex-direction: row;
      }
    

    .student-review__box__image {
      @media #{$desktop} {
        flex-basis:40%;
        width: 30%;
        overflow: hidden;
      }

      img {
        @media #{$desktop} {
          transform: scale(3);
          position: relative;
          top: 50px;
        }
      }
    }
  }
      
    .student-review__info-wrapper {
      background: url('../../assets/images/oquote.png'), url('../../assets/images/cquote.png');
      background-repeat: no-repeat;
      background-position: top left, bottom right;
      background-color: $color__textbox-background;
      margin-top: 0;
      width: 100%;
      padding: 39px 30px 22px 48px;
      font-weight: bold;
      font-size: 4vw;
          
      position: relative;
      @media #{$desktop} {
        margin: 0;
        font-size: 3vw;
        flex-basis: 80%;
      }

      .student-review__info {
        @media #{$desktop} {
          padding: 15px 20px 15px 45px;
        }
      }
          
      .grey {
        background: $color__textbox-background;
        transform: rotate(134deg);
        bottom: 54px;
        left: 40%;
        height: 30px;
        position: relative;
        width: 30px;
        @media #{$desktop} {
          background: $color__textbox-background;
          transform: rotate(134deg);
          bottom: -60px;
          left: -63px;
          height: 30px;
          position: relative;
          width: 30px;
        }
      }
    }
     

    .start-journey {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 1rem 0;
      background: $color__textbox-background;

      .headergroup{
        line-height: 3rem;
      }

      .underline {
        margin: 0 auto 1rem auto;
        @media #{$desktop} {
          width: 120px;
        }
      }

      &__header {
        text-transform: uppercase;
        font-size: 4.2vw;
      }

      &__subheader {
        margin: 0;
        font-family: $font__accent;
        font-weight: 600;
        font-style: italic;
        color: $color__text-accent;
      }

      button {
        margin-top: 2rem;
        width: 160px;
        height: 40px;
        padding: 0;
        border-radius: 25px 0px 25px 0px;
        box-shadow: none;
        text-shadow: none;
        background: $color__icon-element;
        color: $color__text-white;
        font-family: $font__main;
        font-weight: 900;
        font-size: 18px;
      }
      
    }

  }


