.home {
  min-width: 375px;
  margin-top: -15px;

  h2 {
    margin:0;
    text-align: center;
    font-weight: bold;
    // @media #{$desktop} {
    //   text-align: left;
    // }
  }

  .underline {
    width: 49px;
    border-bottom: 3px solid $color__accent-underline;
  }



  .site-main {
    .banner {
      padding-top: 4.5rem;
      width: 100%;
      height: 25rem;
      background: url('../../assets/images/photo-hero-mobile.png');
      background-repeat: no-repeat;
      background-size: contain;
      @media #{$desktop} {
        height: 40vw;
        background-size: 100vw 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__info {
        width: 40%;
        margin-left: 2rem;
        line-height: 2rem;
        @media #{$desktop} {
          margin: 0;  
        }
      }

      &__info__h1 {
        margin: 0;
        font-size: 11vw;
        font-family: $font__main;
        font-weight: 900;
        text-transform: uppercase;
        color: $color__text-main;
        @media #{$desktop} {
          font-size: 6vw;
          font-weight: bold;
          text-align: center;
        }
      }

      &__info__p {
        margin: 0;
        font-size: 6vw;
        font-family: $font__accent;
        font-weight: 600;
        font-style: italic;
        color: $color__text-accent;
        text-transform: none;
        text-align: center;
        @media #{$desktop} {
          margin-bottom: 2vw;  
          font-size: 4vw;
        }
      }

      &__p {
        width: 52%;
        margin-left: 2rem;
        font-family: $font__accent;
        font-size: 4vw;  
        font-style: italic;
        font-weight: 600;
        color: $color__text-main;
        @media #{$desktop} {
          margin-top: 2vw;
          font-size: 2vw;  
          width: 33%;
        }
      }

      &__p__span {
        font-weight: 800;
      }
    }


    .nexus-wrapper {
      width: 100%;
      @media #{$desktop} {
        width: 90%;
        margin: 0 0 0 auto;
      }
    }

    .why-nexus {
      height: 90vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(180deg,rgba(255,255,255,.4) 0,rgba(255,255,255,.4)), url('../../assets/images/whynexus.png');
      background-position-y: center, bottom;
      background-position-x: left, left;
      background-repeat: no-repeat;
      background-size: 100% 50%, 100% 50%;
      @media #{$desktop} {
        justify-content: space-around;
        align-items: flex-start;
        background-position-y: center, center;
        background-repeat: no-repeat;
        background-position-x: left, right;
        background-size: 55% 50%,50% 50%;
      }

      &__header {
        font-family: $font__main; 
        @media #{$desktop} {
          text-align: left;    
        }
      }

      .underline {
        @media #{$desktop} {
          position: relative;
          bottom: 5rem; 
        }
      }

      h2, p {
        width: 80%;
        margin: 0 auto;
        @media #{$desktop} {
          margin: 0;
          width: 50%;
        }
      }

      button {
        margin-top: 3rem;
        width: 135px;
        height: 40px;
        padding: 0;
        border-radius: 25px 0px 25px 0px;
        box-shadow: none;
        text-shadow: none;
        background: $color__icon-element;
        color: $color__text-white;
      }

    }

    .choose-wrapper {
      display: none;
      @media #{$desktop} {
        display: flex;
        justify-content: flex-end;
        height: 50vh;
        background: url('../../assets/images/whynexus.png');
      }
      .choose-program {
        @media #{$desktop} {
          flex-basis: 50%;
          background: $color__info-main;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        &__info-wrapper {
          
        }

        button {
          width: 135px;
          height: 40px;
          padding: 0;
          border-radius: 25px 0px 25px 0px;
          box-shadow: none;
          text-shadow: none;
          background: $color__icon-element;
          color: $color__text-white;
        }
        }
      }

    }


    .browse-programs {
      @include front-page-section-block;
      @media #{$desktop} {
        display: none;
      }

      &__subheading {
        width: 80%;
        text-transform: uppercase;
        margin: 0.5rem auto;
        display: flex;
        background: $color__textbox-background;
      }
    }

    .choose-province-wrapper {
      display: none;
      @media #{$desktop} {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        height: 70vh;
    }
    
    .choose-province {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 25%;

        &__header {
          font-family: $font__main;
          font-weight: bold;
        }
        button {
          width: 135px;
          height: 40px;
          padding: 0;
          border-radius: 25px 0px 25px 0px;
          box-shadow: none;
          text-shadow: none;
          background: $color__icon-element;
          color: $color__text-white;
        }
      

      }
    }


    .student-review {
      @include front-page-section-block;
      

      &__box {
        display: flex;
        flex-direction: column;
        width: 80%;

        .student-review__info {
          width: 100%;
          padding: 39px 30px 22px 48px;
          font-weight: bold;
          font-size: 5vw;
          background: $color__textbox-background;
          position: relative;

          &::before {
            content: "\201C";
            color:$color__fp_quotes;
            font-size: 30vw;
            font-weight: normal;
            font-family: $font__accent;
            position: absolute;
            left: 1rem;
            top: -1rem;    
          }
    
          &::after {
            content: '\201D';
            color: $color__fp_quotes;
            font-size: 30vw;
            font-weight: normal;
            font-family: $font__accent;
            position: absolute;
            bottom: -4rem;
            right: 1rem;
          }
        }
      } 
    }

    .start-journey {
      @include front-page-section-block;
      height: auto;
      padding: 1rem 0;
      background: $color__textbox-background;

      &__header {
        text-transform: uppercase;
      }

      &__subheader {
        margin: 0;
        font-family: $font__accent;
        font-weight: 600;
        font-style: italic;
        color: $color__text-accent;
        width: 80%;
      }

      button {
        margin-top: 3rem;
        width: 135px;
        height: 40px;
        padding: 0;
        border-radius: 25px 0px 25px 0px;
        box-shadow: none;
        text-shadow: none;
        background: $color__icon-element;
        color: $color__text-white;
      }
      
    }

  }

}