.home {
// Map Icons
  .choose-province-wrapper {
    display: none;
    @media #{$desktop} {
      display: flex; 
      height: 800px;  
      width: 1240px;
      margin: 0 auto;
      margin-top: -94px;
      margin-bottom: -94px;
      background: url('../../assets/images/map_nexus01@3x.png');
      background-size: contain;
      background-repeat: no-repeat;
      .fa {
        color:$color__quoteform-x; 
      }
      .fa:hover {
        color: $color__icon-element;
      }
      .bc {
        position: relative;
        left: 130px;
        top: 390px;
        color:$color__quoteform-x;
      }
      .ab {
        position: relative;
        left: 190px;
        top: 360px; 
      }
      .sk {
        position: relative;
        left: 230px;
        top: 410px;
      }
      .man {
        position: relative;
        left: 290px;
        top: 430px;
      }
      .on {
        position: relative;
        left: 410px;
        top: 420px;
      }
      .qc {
        position: relative;
        left: 500px;
        top: 400px;
      }
      .bc:hover > .bc-text {
          display: block;
      }
      .ab:hover > .ab-text {
        display: block;
      }
      .sk:hover > .sk-text {
       display: block;
      }
      .man:hover > .man-text {
        display: block;
      }
      .on:hover > .on-text {
        display: block;
     }
      .qc:hover > .qc-text {
        display: block;
    }
      h3 {
        display: none;
        font-family: $font__main;
        position: absolute;
        font-size: 18px;
        color: $color__footer-background;
        z-index: 1;
      }
  }
 }

// Choose province header
  .choose-province {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__info {
      position: relative;
      left: 560px;
      width: 220px;
      top: 38px;
      color: $color__footer-background;
    }
    &__header {
      position: relative;
      font-size: 48px;
      top: 38px;
      left: 560px;
      color: $color__footer-background;
      font-family: $font__main;
      font-weight: bold;
    }
    .underline {
      position: relative;
      left: 560px;
      width: 120px;
      top: 38px;
    }
    button {
      width: 135px;
      height: 40px;
      padding: 0;
      border-radius: 25px 0px 25px 0px;
      box-shadow: none;
      text-shadow: none;
      background: $color__icon-element;
      color: $color__text-white;
      }
    }
  
// Province Display
    
// Choose BC
  .choose-wrapper-bc {
    display: none;
    @media #{$desktop} {
      display: flex;
      justify-content: flex-end;
      height:  444px;
      margin-top: -200px;
      background: linear-gradient(180deg,rgba(255,255,255,.4) 0,rgba(255,255,255,.4)),url('../../assets/images/bc.jpg');
    }
    i {
      position: relative;
      top: 120px;
      right: 398px;
      color: red;
      font-size: 66px;
    }
    h2 {
      text-align: center;
      position: relative;
      top: 200px;
      right: 190px;
      width: 400px;
      font-size: 48px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    p {
      width: 500px;
      font-size: 23px;
      font-family: $font__accent;
    }
    .choose-program {
      @media #{$desktop} {
        display: flex;
        flex-basis: 50%;     
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $color__info-main;
      button {
        width: 205px;
        height: 40px;
        margin-top: 24px;
        padding: 0;
        font-size: 22px;
        font-weight: bold;
        border-radius: 25px 0px 25px 0px;
        box-shadow: none;
        text-shadow: none;
        background: $color__icon-element;
        color: $color__text-white;
      }
      }
    }
  }

// Choose Alberta
  .choose-wrapper-ab {
    display: none;
    @media #{$desktop} {
      display: flex;
      justify-content: flex-end;
      height:  444px;
      margin-top: -200px;
      background: linear-gradient(180deg,rgba(255,255,255,.4) 0,rgba(255,255,255,.4)),url('../../assets/images/calgary.jpg');
    }
    i {
      position: relative;
      top: 120px;
      right: 398px;
      color: red;
      font-size: 66px;      
    }
    h2 {
      position: relative;   
      top: 200px;
      right: 280px;
      width: 200px;
      font-size: 48px;
      letter-spacing: 2px;
      text-transform: uppercase;     
    }
    p {    
      width: 500px;
      font-size: 23px;
      font-family: $font__accent;
    }
    .choose-program {
      @media #{$desktop} {
        display: flex;
        flex-basis: 50%;       
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $color__info-main;
      button {
        width: 205px;
        height: 40px;
        margin-top: 24px;
        padding: 0;
        font-size: 22px;
        font-weight: bold;
        border-radius: 25px 0px 25px 0px;
        box-shadow: none;
        text-shadow: none;
        background: $color__icon-element;
        color: $color__text-white;
      }
      }
    }
  }
// Choose Manitoba
  .choose-wrapper-man {
    display: none;
    @media #{$desktop} {
      display: flex;
      justify-content: flex-end;
      height:  444px;
      margin-top: -200px;
      background: linear-gradient(180deg,rgba(255,255,255,.3) 0,rgba(255,255,255,.4)),url('../../assets/images/manitoba.jpg');
      background-size: 60% 100%;
    }
    i {
      position: relative;
      top: 120px;
      right: 398px;
      color: red;
      font-size: 66px;     
    }
    h2 {
      position: relative;
      top: 200px;
      right: 280px;
      width: 200px;
      font-size: 48px;
      letter-spacing: 2px;
      text-transform: uppercase;   
    }
    p {  
      width: 500px;
      font-size: 23px;
      font-family: $font__accent;
    }
    .choose-program {
      @media #{$desktop} {
        flex-basis: 50%;
        background: $color__info-main;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      button {
        width: 205px;
        height: 40px;
        margin-top: 24px;
        padding: 0;
        font-size: 22px;
        font-weight: bold;
        border-radius: 25px 0px 25px 0px;
        box-shadow: none;
        text-shadow: none;
        background: $color__icon-element;
        color: $color__text-white;
      }
      }
    }
  }
// Choose Saskatchewan
  .choose-wrapper-sk {
    display: none;
    @media #{$desktop} {
      display: flex;
      justify-content: flex-end;
      height:  444px;
      margin-top: -200px;
      background: linear-gradient(180deg,rgba(255,255,255,.4) 0,rgba(255,255,255,.4)),url('../../assets/images/saskatchewan.jpg');
    }
    i {
      position: relative;
      top: 120px;
      right: 398px;
      color: red;
      font-size: 66px;   
    }
    h2 {
      position: relative;
      top: 200px;
      right: 370px;
      width: 200px;
      font-size: 48px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    p {
      width: 500px;
      font-size: 23px;
      font-family: $font__accent;
    }
    .choose-program {
      @media #{$desktop} {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $color__info-main;
      button {
        width: 205px;
        height: 40px;
        margin-top: 24px;
        padding: 0;
        font-size: 22px;
        font-weight: bold;
        border-radius: 25px 0px 25px 0px;
        box-shadow: none;
        text-shadow: none;
        background: $color__icon-element;
        color: $color__text-white;
      }
      }
    }
  }
// Choose Ontario
  .choose-wrapper-on {
    display: none;
    @media #{$desktop} {
      display: flex;
      justify-content: flex-end;
      height:  444px;
      margin-top: -200px;
      background: linear-gradient(180deg,rgba(255,255,255,.4) 0,rgba(255,255,255,.4)),url('../../assets/images/toronto.jpg');
      background-size: cover;
    }
    i {
      position: relative;
      top: 120px;
      right: 398px;
      color: red;
      font-size: 66px;
    }
    h2 {
      position: relative;
      top: 200px;
      right: 280px;
      width: 200px;
      font-size: 48px;
      letter-spacing: 2px;
      text-transform: uppercase;   
    }
    p {    
      width: 500px;
      font-size: 23px;
      font-family: $font__accent;
    }
    .choose-program {
      @media #{$desktop} {
        flex-basis: 50%;
        background: $color__info-main;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      button {
        width: 205px;
        height: 40px;
        margin-top: 24px;
        padding: 0;
        font-size: 22px;
        font-weight: bold;
        border-radius: 25px 0px 25px 0px;
        box-shadow: none;
        text-shadow: none;
        background: $color__icon-element;
        color: $color__text-white;
      }
      }
    }
  }
// Choose Quebec
  .choose-wrapper-qc {
    display: none;
    @media #{$desktop} {
      display: flex;
      justify-content: flex-end;
      height:  444px;
      margin-top: -200px;
      background: linear-gradient(180deg,rgba(255,255,255,.4) 0,rgba(255,255,255,.4)),url('../../assets/images/quebec.jpg');
      background-position-y: 30%;
    }
    i {   
      position: relative;
      top: 120px;
      right: 398px;
      color: red;
      font-size: 66px;
    }
    h2 {
      position: relative;
      top: 200px;
      right: 280px;
      width: 200px;
      font-size: 48px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    p {   
      width: 500px;
      font-size: 23px;
      font-family: $font__accent;
    }
    .choose-program {
      @media #{$desktop} {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $color__info-main;
      button {
        width: 205px;
        height: 40px;
        margin-top: 24px;
        padding: 0;
        font-size: 22px;
        font-weight: bold;
        border-radius: 25px 0px 25px 0px;
        box-shadow: none;
        text-shadow: none;
        background: $color__icon-element;
        color: $color__text-white;
      }
      }
    }
  }
 








}
