// Main navigation bar  
  nav.main-navigation {
    background-color: $color__background-body;
    height: 65px;
    min-width: 325px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0px;
      @media #{$tablet} {
        height: 126px;
      } 

// Nav logo
    .header-logo {
      height: 32px;
      width: 97px; 
      margin: 17px 0 16px 15px;
      background-image: url("../../assets/images/nexus_logo_mobile@3x.png");
      background-size: 100% 100%;
      z-index: 10;
        @media #{$tablet} {
          min-height: 62px;
          min-width: 151px; 
          margin-left: 40px;
         
          background-image: url("../../assets/images/nexus_logo_mobile@3x.png");
          background-size: 100% 100%;
      } 
    }
// Hamburgler menu
    .menu-toggle {
      height: 17px;
      width: 24px;
      margin: 24px 25px 24px 0;
      background-image: url("../../assets/images/menu_icon@3x.png");
      background-size: 100% 100%;
      z-index: 10;
        @media #{$tablet} {
          display: none;
        }
    }
  }
// Dropdown box
    div.menu-content {
      transition: box-shadow .3s;
      box-shadow: 1px 1px 8px 1px lightgrey;
      padding-top: 50px;
      height: 400px;
      width: 60vw;
      background-color: $color__textbox-background;
      margin-left: 40vw;
      position: fixed; 
      top: 20px;
      z-index:2;
      text-align: center;
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        li {
          text-align: center;
          padding-top: 15px;
          display: block;
          float: none;
        }
        a {
          font-family: $font__main;
          font-weight: bold;
          text-decoration: none;
        }
        button.consult {
          width: 130px;
          height: 40px;
          padding: 0;
          border-radius: 25px 0px 25px 0px;
          box-shadow: none;
          text-shadow: none;
          background: $color__icon-element;
          color: $color__text-white;          
        }
    }
  ul#primary-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav.main-navigation:hover {
    transition: box-shadow .3s;
    box-shadow: 1px 1px 8px 1px lightgrey;
    opacity: 1;
  }
// Full screen nav bar
  .full-screen-links {
    display: none;
    @media #{$tablet} {
      height: 126px;
      width: 80vw;
      background-color: lightblue;
      margin-top: 36px;
      display: flex;
      align-items: center;
      justify-content: center; 
        ul {
          display: flex;
          align-items: stretch; /* Default */
          justify-content: center;
          width: 70vw;
          background: #cacaca;
          margin: 0;
          padding: 0;
        }
        li {
          align-items: stretch; 
        margin: 0 auto;  
        }
        a {
          font-family: $font__main;
          font-weight: bold;
          text-decoration: none;
        }
      .consult {
        width: 135px;
        height: 40px;
        font-size: 16px;
        padding: 0;
        border-radius: 25px 0px 25px 0px;
        box-shadow: none;
        text-shadow: none;
        background: $color__icon-element;
        color: $color__text-white;
      }
    }
  }
    