//Banner/Hero & Title
body.blog {
  min-width: 375px;
  .blog-wrapper {
    .latest-videos-title {
      position: relative;
      text-align: center;
      z-index: 1;
      padding-bottom: 5px;
      @media #{$desktop} {
        font-size: 60px;
        top: 35px;
        padding-bottom: 10px;
      }
    }
    .latest-videos-title:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 49px;
      margin: 0 0 0 -25px;
      border-bottom: 3px solid $color__accent-underline;
      @media #{$desktop} {
        margin: 0 0 0 -73px;
        border-bottom: 6px solid $color__accent-underline;
        width: 144px;
      }
    }
  .title-wrapper {
    height: 37vh;
    width: 100vw;
    background-image: url("../../assets/images/blog@3x.png");
    background-size: 100% 100%;
    margin-top: -65px;
    @media #{$desktop} {
      position: relative;
      top: 65px;
      height: 50vh;
      margin-top: 65px;
    }
  } 
  .latest-posts-title {
    position: relative;
    text-align: center;
    z-index: 1;
    bottom: 1205px;
    padding-bottom: 5px;
    @media #{$desktop} {
      font-size: 60px;
      bottom: 700px;
      padding-bottom: 10px;
    }
  }
  .latest-posts-title:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 49px;
    margin: 0 0 0 -25px;
    border-bottom: 3px solid $color__accent-underline;
    @media #{$desktop} {
      margin: 0 0 0 -73px;
      border-bottom: 6px solid $color__accent-underline;
      width: 144px;
    }
  }
  .title-wrapper {
    h1 {
      position: relative;
      z-index: 1;
      text-align: center;
      padding-bottom: 5px;
      top: 140px;
      @media #{$desktop} {
        top: 100px;
        font-size: 70px;
        padding-bottom: 10px;
      }
    }
    h1:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 49px;
      margin: 0 0 0 -25px;
      border-bottom: 3px solid $color__accent-underline;
      @media #{$desktop} {
        margin: 0 0 0 -73px;
        border-bottom: 6px solid $color__accent-underline;
        width: 144px;
      }
    }
  }
.blog-page {
  margin-bottom: -108px;
  ul {
    position: relative;
    right: 15px;
    padding: 0;
    @media #{$desktop} {
      padding-bottom: 30px;
      padding-top: 20px;
    }
    .shadow-border {
      border-bottom: 1px solid rgb(209, 209, 209);
      box-shadow: 0px 13px $color__textbox-background;
      padding-top: 40px;
      width: 100vw;
      right: 4.5vw;
      position: relative;
      @media #{$desktop} {
        display: none;
      }
    }
    .shadow-border:nth-of-type(-n+2) {
      display: none;
    }
    .shadow-border:nth-of-type(3) {
      border-bottom: none;
    }
  }
  li {
    list-style-type: none; 
  }

  //Video Blog Posts (top 3)
  li:nth-of-type(-n+3) {
    button.read-more {
      display: none;
    }
    iframe {
      height: 100%;
    }
    .blog-text {
      position: relative;
      bottom: 15px;
      left: 5px;
    }
    a {
      pointer-events: none;
      cursor: default;
    }
    .blog-content {
      display: none;
    }
  }
  li:nth-of-type(1) {
    font-size: 11px;
    @media #{$desktop} {
      text-align: center;
      padding-left: 50px;
      padding-right: 50px;
    }  
    h2 {
      text-align: center;
      @media #{$desktop} {
        text-align: left;
        font-size: 38px;
      }
    }
    iframe {
      height: 226px;
      @media #{$desktop} {
        height: 619px;
        width: 100vw;
      }
    }
  }
  li:nth-of-type(n+2):nth-of-type(-n+3) {
    display: inline-block;
    font-size: 10px;
    width: 45vw;
    padding: 0;
    @media #{$desktop} {
      margin-left: 45px;
      width: 43.3vw;
    }
    iframe {
      height: 28vw;
      padding: 0px 4px;
      @media #{$desktop} {
        width: 48.8vw;
    
      }  
    }
    h2 {
      text-align: left;
      @media #{$desktop} {
        font-size: 27px;
      }
    }
  }
  a {
    text-align: center;
    text-decoration: none;
  }

  //Normal Blog Posts (bottom 3)
  li:nth-of-type(n+4):nth-of-type(-n+6) {
    display: inline-block;
    @media #{$desktop} {
      display: inline-block;
      position: relative;
      left: 30px;
      top: 60px;
      margin: 0 auto;
      width: 31vw;
    }
    .blog-text {
      @media #{$desktop} {
        width: 30vw;
      }
    }
    .blog-content {
      display: none;
      @media #{$desktop} {
        display: inline-block;
      }
    }
    .blog-title {
      text-align: center;
      font-size: 18px;
      @media #{$desktop} {
        font-size: 27px;
      }
    }
    .blog-img {
      margin-top: 30px;
    }
    img {
      @media #{$desktop} {
        margin: 0;
        height: 224.89px;
        width: 30vw;
      }
    }
    .blog-video {
      display: none;
    }
    .read-button {
      padding-top: 20px;
    }
  }
  li:nth-of-type(4) {
    padding-top: 70px;
  }
  li:nth-of-type(n+4):nth-of-type(-n+4) {
    .blog-img {
      @media #{$desktop} {
        height: 224.89px;
        padding-top: 35px;
      }
    }
    .blog-text {
      @media #{$desktop} {
        position: relative;
        top: 27px;
      }
    }
  }
  li:nth-of-type(n+5):nth-of-type(-n+5) {
    .blog-content-button {
      @media #{$desktop} {
        position: relative;
        top: 27px;
      }
    }
  }
  li:nth-of-type(n+6):nth-of-type(-n+6) {
    .blog-img {
      @media #{$desktop} {
        height: 224.89px;
        padding-top: 35px;
      }
    }
    .blog-text {
      @media #{$desktop} {
        position: relative;
        top: 27px;
      }
    }
  }
  //Read More Button
  .blog-text {
    button.read-more {
      letter-spacing: 1pt;
      width: 124.65px;
      height: 40px;
      padding: 0;
      border-radius: 25px 0px 25px 0px;
      box-shadow: none;
      text-shadow: none;
      font-size: 18px;
      font-weight: 600;
      background-color: $color__icon-element;
      color: $color__text-white;
      @media #{$desktop} {
        width: 215px;
        height: 60px;
        font-size: 24px;
      }
      &:hover {
        background: darken($color__icon-element, 10%);
      }
    }
  } 
}  
}
}
