//Banner/Hero & Title
body.blog {
  .blog-wrapper {
    height: 2110px;
    .latest-videos-title {
    position: relative;
    text-align: center;
    top: 210px;
    }
    .underline-videos {
      margin: 0 auto;
      width: 49px;
      text-align: center;
      border-bottom: 3px solid $color__accent-underline;
      position: relative;
      top: 195px;
      left: 0;
    }
    .latest-posts-title {
      position: relative;
      text-align: center;
      bottom: 1205px;
    }
    .underline-posts {
      margin: 0 auto;
      width: 49px;
      text-align: center;
      border-bottom: 3px solid #ff8a2a;
      position: relative;
      bottom: 1220px;
      left: 0;
    }
  } 
  .title-wrapper {
    h1 {
      text-align: center;
      color: $color__text-main;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 900;
      position: relative;
      top: 110px;
    }
    .underline1 {
      margin: 0 auto;
      width: 49px;
      text-align: center;
      border-bottom: 3px solid $color__accent-underline;
      position: relative;
      top: 90px;
    }
  }
}

//All Blog Posts
.blog-page {
  height: 139px;
  width: 100vw;
  background-image: url("../../assets/images/blog@3x.png");
  background-size: 100% 100%;
  ul {
    position: relative;
    right: 15px;
    padding: 0;
    padding-top: 160px;
    .shadow-border {
      border-bottom: 1px solid rgb(209, 209, 209);
      box-shadow: 0px 13px $color__textbox-background;
      padding-top: 40px;
      width: 100vw;
      right: 4.5vw;
      position: relative;
    }
    .shadow-border:nth-of-type(-n+2) {
      display: none;
    }
    .shadow-border:nth-of-type(3) {
      border-bottom: none;
      padding-bottom: -40px;
    }
  }
  li {
    list-style-type: none;
  }

  //Video Blog Posts 
  li:nth-of-type(-n+3) {
    button.read-more {
      display: none;
    }
    iframe {
      height: 100%;
    }
    .blog-text {
      position: relative;
      bottom: 15px;
    }
    a {
      pointer-events: none;
      cursor: default;
    }
  }
  li:nth-of-type(1) {
    padding-top: 50px;
    font-size: 11px;
    iframe {
      // max-width: 100vw;
      height: 226px;;
    }
  }
  li:nth-of-type(n+2):nth-of-type(-n+3) {
    display: inline-block;
    font-size: 10px;
    width: 45vw;
    padding: 0;
    iframe {
      height: 28vw;
      padding: 0px 4px;
      // width: 44.5vw;
    }
    h2 {
      text-align: left;
    }
  }
  a {
    text-align: center;
    text-decoration: none;
  }

  //Normal Blog Posts
  li:nth-of-type(n+4):nth-of-type(-n+6) {
    .blog-title {
      text-align: center;
      font-size: 18px;
    }
    .blog-img {
      margin-top: 30px;
    }
    .read-button {
      padding-top: 20px;
    }
  }
  li:nth-of-type(4) {
    padding-top: 70px;
  }
  //Read More Button
  .blog-text {
    button.read-more {
      letter-spacing: 1pt;
      width: 124.65px;
      height: 40px;
      padding: 0;
      border-radius: 25px 0px 25px 0px;
      box-shadow: none;
      text-shadow: none;
      font-size: 18px;
      font-weight: 600;
      background-color: $color__icon-element;
      color: $color__text-white;
      &:hover {
        background: darken($color__icon-element, 10%);
      }
    }
  }
}   

