//Banner/Hero & Title
body.blog {
  .blog-wrapper {
    height: 2110px;
    @media #{$desktop} {
      height: 2700px;
    }
    .latest-videos-title {
    position: relative;
    text-align: center;
    top: 210px;
    @media #{$desktop} {
      font-size: 60px;
      top: 295px;
    }
  } 
  .latest-posts-title {
    position: relative;
    text-align: center;
    bottom: 1205px;
    @media #{$desktop} {
      font-size: 60px;
      bottom: 600px;
    }
  }
  .underline-posts {
    margin: 0 auto;
    width: 49px;
    text-align: center;
    border-bottom: 3px solid #ff8a2a;
    position: relative;
    bottom: 1220px;
    left: 0;
    @media #{$desktop} {
      width: 144px;
      border-bottom: 6px solid $color__accent-underline;
      bottom: 645px;
    }  
  }
  .underline-videos {
    margin: 0 auto;
    width: 49px;
    text-align: center;
    border-bottom: 3px solid $color__accent-underline;
    position: relative;
    top: 195px;
    left: 0;
    @media #{$desktop} {
      width: 144px;
      border-bottom: 6px solid $color__accent-underline;
      top: 245px;
    }
  }
  .title-wrapper {
    h1 {
      text-align: center;
      color: $color__text-main;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 900;
      position: relative;
      top: 110px;
      @media #{$desktop} {
        top: 240px;
        font-size: 70px;
      }
    }
    .underline1 {
      margin: 0 auto;
      width: 49px;
      text-align: center;
      border-bottom: 3px solid $color__accent-underline;
      position: relative;
      top: 90px;
      @media #{$desktop} {
        width: 144px;
        border-bottom: 6px solid $color__accent-underline;
        top: 190px;
      }
    }
  }
.blog-page {
  height: 139px;
  width: 100vw;
  background-image: url("../../assets/images/blog@3x.png");
  background-size: 100% 100%;
  }
  ul {
    position: relative;
    right: 15px;
    padding: 0;
    padding-top: 160px;
    @media #{$desktop} {
      padding-top: 230px;
    }
    .shadow-border {
      border-bottom: 1px solid rgb(209, 209, 209);
      box-shadow: 0px 13px $color__textbox-background;
      padding-top: 40px;
      width: 100vw;
      right: 4.5vw;
      position: relative;
      @media #{$desktop} {
        display: none;
      }
    }
    .shadow-border:nth-of-type(-n+2) {
      display: none;
    }
    .shadow-border:nth-of-type(3) {
      border-bottom: none;
      padding-bottom: -40px;
    }
  }
  li {
    list-style-type: none; 
  }

  //Video Blog Posts (top 3)
  li:nth-of-type(-n+3) {
    button.read-more {
      display: none;
    }
    iframe {
      height: 100%;
    }
    .blog-text {
      position: relative;
      bottom: 15px;
      left: 5px;
    }
    a {
      pointer-events: none;
      cursor: default;
    }
    .blog-content {
      display: none;
    }
  }
  li:nth-of-type(1) {
    padding-top: 50px;
    font-size: 11px;
    @media #{$desktop} {
      text-align: center;
      padding-left: 50px;
      padding-right: 50px;
    }  
    h2 {
      text-align: center;
      @media #{$desktop} {
        text-align: left;
        font-size: 38px;
      }
    }
    iframe {
      height: 226px;
      @media #{$desktop} {
        height: 619px;
        width: 100vw;
      }
    }
  }
  li:nth-of-type(n+2):nth-of-type(-n+3) {
    display: inline-block;
    font-size: 10px;
    width: 45vw;
    padding: 0;
    @media #{$desktop} {
      margin-left: 45px;
      width: 43.3vw;
    }
    iframe {
      height: 28vw;
      padding: 0px 4px;
      @media #{$desktop} {
        width: 48.8vw;
    
      }  
    }
    h2 {
      text-align: left;
      @media #{$desktop} {
        font-size: 27px;
      }
    }
  }
  a {
    text-align: center;
    text-decoration: none;
  }

  //Normal Blog Posts (bottom 3)
  li:nth-of-type(n+4):nth-of-type(-n+6) {
    display: inline-block;
    @media #{$desktop} {
      display: inline-block;
      position: relative;
      left: 30px;
      top: 100px;
      margin: 0 auto;
      // width: 385px;
      width: 31vw;
      // margin-left: 20px;
    }
    .blog-text {
      @media #{$desktop} {
        width: 30vw;
      }
    }
    .blog-content {
      display: none;
      @media #{$desktop} {
        display: inline-block;
      }
    }
    .blog-title {
      text-align: center;
      font-size: 18px;
      @media #{$desktop} {
        // font-size: 27px;
      }
    }
    .blog-img {
      margin-top: 30px;
    }
    img {
      @media #{$desktop} {
        margin: 0;
        height: 224.89px;
        width: 30vw;
      }
    }
    .blog-video {
      display: none;
    }
    .read-button {
      padding-top: 20px;
    }
  }
  li:nth-of-type(4) {
    padding-top: 70px;
  }
  li:nth-of-type(n+4):nth-of-type(-n+4) {
    .blog-img {
      @media #{$desktop} {
        height: 224.89px;
        padding-top: 22px;
      }
    }
    .blog-text {
      @media #{$desktop} {
        position: relative;
        top: 27px;
      }
    }
  }
  li:nth-of-type(n+5):nth-of-type(-n+5) {
    .blog-content-button {
      @media #{$desktop} {
        position: relative;
        top: 27px;
      }
    }
  }
  li:nth-of-type(n+6):nth-of-type(-n+6) {
    .blog-img {
      @media #{$desktop} {
        height: 224.89px;
        padding-top: 22px;
      }
    }
    .blog-text {
      @media #{$desktop} {
        position: relative;
        top: 27px;
      }
    }
  }
  //Read More Button
  .blog-text {
    button.read-more {
      letter-spacing: 1pt;
      width: 124.65px;
      height: 40px;
      padding: 0;
      border-radius: 25px 0px 25px 0px;
      box-shadow: none;
      text-shadow: none;
      font-size: 18px;
      font-weight: 600;
      background-color: $color__icon-element;
      color: $color__text-white;
      @media #{$desktop} {
        width: 215px;
        height: 60px;
        font-size: 24px;
      }
      &:hover {
        background: darken($color__icon-element, 10%);
      }
    }
  }  
} 
}
