/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
button {
box-shadow: none;
background-color: white;
border: none;
border-radius: 0px;
}
/* Front page */
