// Archives
.page-template-archive-nexus_program, .tax-provinces {
  padding-top: 55px;
  @media #{$tablet-test} {
    padding-top: 0;
  }
 .hero-wrapper {
   
   width: 100vw;

   h1 {
     margin: 0;
     text-align: center;
     color: $color__footer-background;
     font-size: 2rem;
     text-transform: uppercase;
     font-weight: 900;
    
     @media #{$tablet-test} {
       font-size: 3rem;
     }
   }
   .hero-image {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 50vh;
     width: 100vw;
     min-width: 350px;
     background-image: url("../../assets/images/blog@3x.png");
     background-size: cover;
     background-position: bottom;
   }
   .underline {
     margin: 0 auto;
     width: 49px;
     text-align: center;
     border-bottom: 4px solid $color__accent-underline;
     @media #{$tablet-test} {
       width: 144px;
       border-bottom-width: 6px;
     }
   }
 }


  .site-main{
    overflow: auto;
    min-height: max-content;
    padding-top: 0;
    @media #{$tablet-test} {
      padding-top: 55px;
    }
  }

  .hidden { 
    display: none;
  }

  .search-results {
    margin: 1rem 0;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    @media #{$tablet-test}{
      justify-content: center;
    }
    @media #{$desktop} {
      justify-content: space-between;
    }
  }

  .select-container, .program-title {
    margin-right: 1.5rem;
  }

  .select-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media #{$tablet-test} {
      flex-direction: row;
      justify-content: flex-start;
      max-width: 750px;
      padding-left: 60px;
      padding-top: 65px;
    }
  }

  .select-form-wrapper-searched {
    padding: 0;
    margin-top: 2rem;
    flex-direction: row;
    justify-content: flex-start;
  }
  .select-container-searched {
    max-width: 150px;
    @media #{$tablet-test} {
      max-width: 220px;
    }
  }

  .program {
    color: $color__text-accent;
  }

  .program-content-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
  }

  .program-content {
    background-image: url("../../assets/images/photo_study@3x.png");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    min-height: 600px;
    @media #{$tablet-test} {
      background-image: url("../../assets/images/program-background-image.png");
    }

    .want-in {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 34px;
      color: $color__text-quoteform;
    }
  }

  .program-container {
    margin-right: 1rem;
    margin-top: 2rem;
    flex-basis: 50%;
    max-width: 160px;
    text-decoration: none;
    @media #{$tablet-test} {
      flex-basis: 30%;
      max-width: 320px;
    }
  }
  .program-image{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33vw;
    max-height: 120px;
    margin-bottom: 0.75rem;
    @media #{$tablet-test} {
      max-height: 240px;
    }
    img{
      max-width: none;
      width: auto;
    }
  }

  .program-title-wrapper {
      @media #{$tablet-test} {
        flex-basis: 100%;
      }
  }
  .program-title {
    text-transform: uppercase;
    color: $color__footer-background;
    text-align: center;
    margin-bottom: 34px;
    @media #{$tablet-test} {
      text-align: left;
      font-size: 3rem;
      margin-top: 0;
      margin-bottom: 0;
      color: $color__text-main;
    }
  }

  .program-school {
    text-transform: uppercase;
    margin-top: 12px;
    font-size: 0.75rem;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    @media #{$tablet-test} {
      font-size: 1.25rem;
      margin-top: 22px;
    }
  }

  .program-name {
    
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto' sans-serif;
    @media #{$tablet-test} {
      margin: 10px 0;
      font-size: 1.68rem;
    } 
  }

  .program-type {
     font-size: 1rem;
     font-weight: 300;
     font-family: 'Raleway',
     sans-serif;
     @media #{$tablet-test} {
       font-size: 1.25rem;
     }
  }
  .program-name, .program-school, .program-type {
    line-height: 2rem;
    p {
      margin: 0;
    }
  }

  .button-wrapper {
    @media #{$tablet-test} {
      flex-basis: 100%;
    }
  }

  .button-wrapper {
        width: 130px;
        padding-top: 50px;
        margin: 0 auto;
    .want-to {
      letter-spacing: 1pt;
      width: 120px;
      height: 40px;
      padding: 0;
      border-radius: 25px 0px 25px 0px;
      box-shadow: none;
      text-shadow: none;
      font-size: 18px;
      background: $color__icon-element;
      color: $color__background-white;
    }
  }
}

// Single Program

.single-nexus_program {
  padding-top: 20px;
  @media #{$tablet-test} {
    padding-top: 75px;
  }
  .single-program-content {
  
    margin: 0 auto;
    max-width: 90%;
    margin-top: 0;
    line-height: 1.75;
    text-align: center;
    color: $color__text-blue-large;
    font-family: 'Roboto', sans-serif;
    @media #{$tablet-test} {
      margin: 0;
      text-align: left;
      font-size: 1.5rem;
    }
  }
  .header-wrapper {
    margin-top: 1.75rem;
    margin-bottom: 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$tablet-test} {
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 0;
    }
  }

  .underline-centered {
    margin: 0 auto;
    width: 49px;
    text-align: center;
    border-bottom: 4px solid $color__accent-underline;
    @media #{$tablet-test} {
      width: 144px;
      border-bottom-width: 6px;
    }
  }

  .title-underline {
    margin: 0 auto;
    width: 49px;
    text-align: center;
    border-bottom: 4px solid $color__accent-underline;
    @media #{$tablet-test} {
      width: 144px;
      border-bottom-width: 6px;
      margin: 0;
    }
  }

  .left-side {
    height: 100%;
    @media #{$tablet-test} {
      margin-right: -10%;
      z-index: 10;
      margin-left: 10%;
    }
  }
 
  .strong-side {
    flex-basis: 55%;
    margin-left: 1rem;
  }

  .program-media {
    max-width: max-content;
    margin: 0 auto;
    height: 100%;

    @media #{$desktop} {
      margin-top: 1rem;
     
    }
  }

  .single-program-about-image {
    display: none;
    @media #{$desktop} {
      display: block;
      height: 100%;
      min-width: 50%;
      img {
        height: 500px;
        width: 140%;
      }
    }
  }
  .single-program-title {
    text-align: center;
    margin: 2px 0;
    @media #{$desktop} {
      font-size: 4rem;
    }
  }

  .single-program-header {
    margin: 2px 0;
    @media #{$tablet-test} {
      font-size: 3.75rem;
    }
  }

  .program-flex-container {
    @media #{$tablet-test} {
      height: 500px;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      margin: 2rem 0;
      margin-bottom: 48px;
      background: green;
    }
  }

  .single-program-container {
     background: red;
    padding: 1rem;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program-meta-category {
    margin: 1rem 0 0 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    @media #{$desktop} {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
  
  .program-meta-content {
    margin: 0 0 1rem 0;
    font-size: 1.15rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 0;
    @media #{$desktop} {
      font-size: 2.8rem;
    }
  }
  .program-meta {
    margin-top: 1rem;
    text-align: center;
    align-items: center;
    background-color: $color__info-main;
    width: 100vw;
    max-width: 1080px;
    display: flex;
    justify-content: space-around;
    p {
      flex-basis: 30%;
    }
  }
  .program-meta-seperator {
    visibility: hidden;
    @media #{$desktop} {
      visibility: visible;
      height: 60px;
      border-right: 3px solid #ff8a2a;
    }
  }
}

.student-review {
  .headergroup {
    line-height: 3rem;
  }

  h2 {
    font-size: 4.5vw;
  }

  .underline {
    margin: 0 auto 3rem auto;
    @media #{$desktop} {
      width: 120px;
    }
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    margin: 3rem auto;
  }
}

.start-journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 1rem 0;
  background: $color__textbox-background;

  .headergroup {
    line-height: 3rem;
  }

  .underline {
    margin: 0 auto 1rem auto;
    @media #{$desktop} {
      width: 120px;
    }
  }

  &__header {
    text-transform: uppercase;
    font-size: 4.2vw;
  }

  &__subheader {
    margin: 0;
    font-family: $font__accent;
    font-weight: 600;
    font-style: italic;
    color: $color__text-accent;
  }

  button {
    margin-top: 2rem;
    width: 160px;
    height: 40px;
    padding: 0;
    border-radius: 25px 0px 25px 0px;
    box-shadow: none;
    text-shadow: none;
    background: $color__icon-element;
    color: $color__text-white;
    font-family: $font__main;
    font-weight: 900;
    font-size: 18px;
  } 
}
