// Archives
.page-template-archive-nexus_program {
 
  padding-top: 65px;

 .hero-wrapper {
   
   width: 100vw;

   h1 {
     margin: 0;
     text-align: center;
     color: $color__footer-background;
     font-size: 30px;
     text-transform: uppercase;
     font-weight: 900;
    
     @media #{$tablet} {
       font-size: 70px;
     }
   }
   .hero-image {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 50vh;
     width: 100vw;
     min-width: 350px;
     background-image: url("../../assets/images/blog@3x.png");
     background-size: cover;
     background-position: bottom;
   }
   .underline {
     margin: 0 auto;
     width: 49px;
     text-align: center;
     border-bottom: 4px solid $color__accent-underline;
     @media #{$tablet} {
       width: 144px;
       border-bottom-width: 6px;
     }
   }
 }


  .site-main{
    padding-top: 0;
    @media #{$tablet} {
      padding-top: 65px;
    }
  }

  .hidden { 
    display: none;
  }

  .search-results {
    margin: 1rem 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }

  .select-container, .program-title {
    margin-right: 1.5rem;
  }

  .select-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media #{$tablet} {
      flex-direction: row;
      justify-content: flex-start;
      max-width: 750px;
      padding-left: 60px;
      padding-top: 65px;
    }
  }

  .select-form-wrapper-searched {
    padding: 0;
    margin-top: 1rem;
    flex-direction: row;
    justify-content: flex-start;
  }
  .select-container-searched {
    max-width: 150px;
    @media #{$tablet} {
      max-width: 220px;
    }
  }

  .program {
    color: $color__text-accent;
  }

  .program-content-container {
    width: 90%;
    margin: 0 auto;
  }

  .program-content {
    background-image: url("../../assets/images/photo_study@3x.png");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    min-height: 600px;
    @media #{$tablet} {
      background-image: url("../../assets/images/program-background-image.png");
    }

    .want-in {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 34px;
      color: $color__text-quoteform;
    }
  }

  .program-container {
    margin: 0 auto;
    max-width: 160px;
    text-decoration: none;
    @media #{$tablet} {
      max-width: 320px;
    }
  }
  .program-image{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33vw;
    max-height: 120px;
    margin-bottom: 0.75rem;
    @media #{$tablet} {
      max-height: 240px;
    }
    img{
      max-width: none;
      width: auto;
    }
  }

  .program-title-wrapper {
      @media #{$tablet} {
        flex-basis: 100%;
      }
  }
  .program-title {
    text-transform: uppercase;
    color: $color__footer-background;
    text-align: center;
    margin-bottom: 34px;
    @media #{$tablet} {
      text-align: left;
      font-size: 4rem;
      margin-top: 0;
      margin-bottom: 0;
      color: $color__text-main;
    }
  }

  .program-school {
    margin-top: 22px;
    font-size: 0.75rem;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    @media #{$tablet} {
      font-size: 1.25rem;
    }
  }

  .program-name {
    margin: 10px 0;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto' sans-serif;
    @media #{$tablet} {
      font-size: 1.68rem;
    } 
  }
  .program-name, .program-school, .program-type {
    line-height: 2rem;
    p {
      margin: 0;
    }
  }

  .button-wrapper {
    @media #{$tablet} {
      flex-basis: 100%;
    }
  }

  .button-wrapper {
        width: 130px;
        padding-top: 50px;
        margin: 0 auto;
    .want-to {
      letter-spacing: 1pt;
      width: 120px;
      height: 40px;
      padding: 0;
      border-radius: 25px 0px 25px 0px;
      box-shadow: none;
      text-shadow: none;
      font-size: 18px;
      background: $color__icon-element;
      color: $color__background-white;
    }
  }
}

// Single Program

.single-nexus_program {

  .single-program-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .program-meta {
    text-align: center;
    align-items: center;
    background-color: $color__info-main;
    width: 100vw;
    max-width: 1080px;
    display: flex;
    justify-content: space-around;
    p {
      flex-basis: 30%;
    }
  }
  .program-meta-seperator {
    height: 60px;
    border-right: 3px solid #ff8a2a;
  }
}