.single-nexus_program {
  .city-container{

    display: flex;
  }
  .city-image {
    flex-basis: 50%;
  }
  .city-text {
    flex-basis: 50%;
  }
  .student-review {  
    margin-bottom: 3rem;
    .headergroup {
      text-align: center;
    }
    .underline {
      margin: 0 auto;
      width: 49px;
      text-align: center;
      border-bottom: 3px solid $color__accent-underline;
      position: relative;
      bottom: 15px;
      @media #{$desktop} {
        width: 144px;
        border-bottom: 6px solid $color__accent-underline;
        top: 10px;
      }
    }
  }
}
