.single-nexus_program {
  padding-top: 20px;
  @media #{$tablet-test} {
    padding-top: 75px;
  }
  
  article {
    margin-bottom: 0;
  }

  .main-content-wrapper {
    @media #{$tablet}{
      margin-left: 10%;
    }
  }


  .owl-dots {
    display: none;
    @media all and (min-width: 950px) {
      display: block;
      position: relative;
      bottom: 2.5rem;
      right: 20rem;
    }
  }

  .owl-nav {
    display: flex;
    justify-content: center; 
    position: relative;
    bottom: 2.5rem;
    @media all and (min-width: 880px) {
      position: absolute; 
      z-index: 998;

      right: 20%;
    }
  }

  .owl-carousel .owl-nav {
    .owl-prev, .owl-next {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color__icon-element;
      border-radius: 0;
      height: 3rem;
      width: 3rem;
      font-size: 4rem;
      padding-bottom: 20px;
    }
  }

  .city-container {
    display: flex;
    flex-direction: column;
    @media all and (min-width: 950px) {
      background: linear-gradient(180deg,rgba(255,255,255,.5),rgba(255,255,255,.5));
      background-size: 65% 100%;
      background-position: center left;
      background-repeat: no-repeat;
    }
  }
  .city-image {
    flex-basis: 50%;
    @media all and (min-width: 950px) {
      width: 50%;
      margin: 0 0 0 auto;
      position: relative;
      z-index: -1;
      transform: scale(1.5);
    }
  }
  .city-text {
    flex-basis: 50%;
    width: 80%;
    margin: 10px auto 0;
    @media all and (min-width: 950px) {
      width: 40%;
      position: relative;
      top: 3rem;
      left: 10rem;
    }
  }

  .student-review {
    margin-bottom: 3rem;
    .headergroup {
      text-align: center;
    }
  .underline {
    margin: 0 auto;
    width: 49px;
    text-align: center;
    border-bottom: 3px solid $color__accent-underline;
    position: relative;
    bottom: 15px;
    @media #{$desktop} {
      width: 144px;
      border-bottom: 6px solid $color__accent-underline;
      top: 10px;
    }
  }
}

  .single-program-content {
    margin: 0 auto;
    max-width: 90%;
    margin-top: 0;
    line-height: 1.75;
    text-align: center;
    color: $color__text-blue-large;
    font-family: 'Roboto', sans-serif;
    @media #{$tablet-test} {
      margin: 0;
      text-align: left;
    }
    @media #{$desktop} {
      font-size: 1.5rem;
    }
  }

  .header-wrapper {
    margin-top: 1.75rem;
    margin-bottom: 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$tablet-test} {
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 0;
    }
  }

  .underline-centered {
    margin: 0 auto;
    width: 49px;
    text-align: center;
    border-bottom: 4px solid $color__accent-underline;
    @media #{$tablet-test} {
      width: 144px;
      border-bottom-width: 6px;
    }
  }

  .title-underline {
    margin: 0 auto;
    width: 49px;
    text-align: center;
    border-bottom: 4px solid $color__accent-underline;
    @media #{$tablet-test} {
      width: 144px;
      border-bottom-width: 6px;
      margin: 0;
    }
  }

  .left-side {
    height: 100%;
    width: 55%;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .4));
    @media #{$tablet-test} {
      margin-right: -10%;
      z-index: 10;
      margin-left: 1rem;
    }
  }

  .strong-side {
    flex-basis: 55%;
    margin-left: 1rem;
  }

  .school-media {
    max-width: max-content;
    margin: 0 auto;
    height: 100%;
    @media #{$desktop} {
      margin-top: 1rem;
    }
  }

  .single-program-about-image {
    display: none;
    @media #{$desktop} {
      display: block;
      height: 100%;
      min-width: 50%;
      img {
        height: 500px;
        width: 140%;
      }
    }
  }

  .single-program-title {
    text-align: center;
    margin: 2px 0;
    @media #{$desktop} {
      font-size: 4rem;
    }
  }

  .single-program-header {
    margin: 2px 0;
    @media #{$tablet-test} {
      font-size: 2rem;
    }
    @media #{$desktop} {
      font-size: 3rem;
    }
  }

  .program-flex-container {
    @media #{$tablet-test} {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 2rem 0;
      margin-bottom: 48px;
      
    }
    @media #{$desktop} {
      flex-direction: row;
    }
  }

  .single-program-container {
    padding: 1rem;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program-meta-category {
    margin: 1rem 0 0 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    @media #{$desktop} {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  .program-meta-content {
    margin: 0 0 1rem 0;
    font-size: 1.15rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 0;
    @media #{$desktop} {
      font-size: 2.8rem;
    }
  }
  .program-meta {
    margin-top: 1rem;
    text-align: center;
    align-items: center;
    background-color: $color__info-main;
    width: 100vw;
    max-width: 1080px;
    display: flex;
    justify-content: space-around;
    p {
      flex-basis: 30%;
    }
  }

    .program-meta-seperator {
      visibility: hidden;
      @media #{$desktop} {
        visibility: visible;
        height: 60px;
        border-right: 3px solid #ff8a2a;
      }
    }

    .read-more {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
    }

    .read-more-program {
      &:last-child{
        display: none;
        @media #{$tablet} {
          display: block;
        }
      }
      width: 45%;
      @media #{$tablet} {
        width: 30%;
      }
    }

    .centered {
      margin: 0 auto;
      text-align: center;
    }
  
  }
