
.student-review {

  .headergroup {
    line-height: 3rem;
    
    h2 {
      margin-bottom: 10px;
      font-size: 1.5em;
      @media all and (min-width: 880px) {
        font-size: 3rem;
      }
    }
    // .underline {
    //   margin: 0 auto 3rem auto;
    //   width: 49px; 
    //   @media #{$desktop} {
    //     width: 144px;
    //   }
    // }
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    margin: 3rem auto;
  }


  .student-review__box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @media #{$desktop} {
      flex-direction: row;
      max-height: 220px;
    }

    .student-review__box__image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40vw;
      max-height: 500px;
      overflow: hidden;
      @media #{$desktop} {
        flex-direction: column;
        // flex-basis: 40%;
        // width: 30%;
        height: 220px;
        justify-content: flex-end;
      }

      img {
        max-width: none;
        width: 100%;
        @media #{$desktop} {
          align-self: flex-end;
          height: 220px;
          width: auto;
        }
      }
    }
  }
  

.student-review__info-wrapper {
    background-color: $color__textbox-background;  
    margin-top: 0;
    width: 100%;
    position: relative;
    @media #{$desktop} {
      margin: 0;
      flex-basis: 80%;
    }

    .student-review__info {

      font-family: 'Raleway', sans-serif;
      @media #{$desktop} {
      }

      .quote-content div, p {
        width: 80%;
        margin: 0 auto;
      }

      .oquote {
        color: $color__fp-quotes;
      }
      .cquote {
        width: 30px;
        margin: 0 0 0 auto;
        position: relative;
        bottom: 20px;
        display: flex;
        justify-content: flex-end;
        color: $color__fp-quotes;        
        
      }
    }
  }

  .oquote i, .cquote i {
    font-size: 2rem;
  }

  .grey {
    background: $color__textbox-background;
    transform: rotate(134deg);
    bottom: 15px;
    left: 40%;
    height: 30px;
    position: relative;
    width: 30px;
    @media #{$desktop} {
      background: $color__textbox-background;
      transform: rotate(134deg);
      bottom: -90px;
      left: -14px;
      height: 30px;
      position: relative;
      width: 30px;
    }
  }
}
