  .student-review__info-wrapper {
    background: url('../../assets/images/oquote.png'), url('../../assets/images/cquote.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: $color__textbox-background;
    margin-top: 0;
    width: 100%;
    padding: 39px 30px 22px 48px;
    font-weight: bold;
    font-size: 4vw;
    position: relative;
    @media #{$desktop} {
      margin: 0;
      font-size: 3vw;
      flex-basis: 80%;
    }
    .student-review__info {
      @media #{$desktop} {
        padding: 15px 20px 15px 45px;
      }
    }
    .grey {
      background: $color__textbox-background;
      transform: rotate(134deg);
      bottom: 54px;
      left: 40%;
      height: 30px;
      position: relative;
      width: 30px;
      @media #{$desktop} {
        background: $color__textbox-background;
        transform: rotate(134deg);
        bottom: -60px;
        left: -63px;
        height: 30px;
        position: relative;
        width: 30px;
      }
    }
  }