.page-template-want-to-study {
  i.fa-angle-down {
    font-size: 44px;
    height: 50px;
    width: 50px;
    color: black;
}
.want-to-content {
  background-image: url("../../assets/images/photo_study@2x.png");
  background-size: 100% 100%;
  height: 600px;
  .want-in {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 34px;
    color: $color__text-quoteform;
  }
}
  h1 {
    text-transform: uppercase;
    color: $color__footer-background;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 34px;
  }
  .contact-want-to:nth-child(1) {
    height: 42px;
    border-radius: 0px;
    width: 65vw;
    background-color: $color__textbox-background;
    margin: 0 auto;
    margin-bottom: 30px;
    // overflow: hidden;
    select {
      height: 42px;
      border-radius: 0px;
      width: 70vw;
      background-color: $color__textbox-background;
      margin: 0 auto;
      margin-bottom: 30px;
      }
    .contact-want-to:nth-child(2) {
      margin-bottom: 34px;
    }
}


.want-to {
      letter-spacing: 1pt;
      width: 120px;
      height: 40px;
      padding: 0;
      border-radius: 25px 0px 25px 0px;
      box-shadow: none;
      text-shadow: none;
      font-size: 18px;
      background: $color__icon-element;
      color: white;
      position: absolute;
      bottom: 60px;
      margin-left: 32%;
    }
}
